/deploy.sh
*.settings
*.project
*.classpath
/trace.db
/modules/core/perfStats.log
/grass3H2DB.trace.db
/grass3H2DB.trace.db.old
/modules/core/grass3H2DB.h2.db
/grass3H2DB.lock.db
/grass3H2DB.h2.db
*release.properties
*pom.xml.releaseBackup
*target/
