<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2 wicket:id="favouritesHeaderLabel"></h2>
	<div wicket:id="favouritesContainer" class="zebratable">
		<table>
			<thead>
				<tr>
					<td></td>
				</tr>
			</thead>
			<tbody wicket:id="favouriteContentMenu" />
			<tfoot>
			</tfoot>
		</table>
	</div>
	<div wicket:id="noFavouriteContentNodes" class="no_children"></div>
	<h2 wicket:id="recentAddHeaderLabel"></h2>
	<div class="zebratable">
		<table>
			<thead>
				<tr>
					<td></td>
				</tr>
			</thead>
			<tbody wicket:id="addContentnodesMenu" />
			<tfoot>
			</tfoot>
		</table>
	</div>
	<div wicket:id="noAddContentnodes" class="no_children"></div>
	<h2 wicket:id="recentEditHeaderLabel"></h2>
	<div class="zebratable">
		<table>
			<thead>
				<tr>
					<td></td>
				</tr>
			</thead>
			<tbody wicket:id="editContentnodesMenu" />
			<tfoot>
			</tfoot>
		</table>
	</div>
	<div wicket:id="noEditContentnodes" class="no_children"></div>
	<h2 wicket:id="tagCloudLabel"></h2>
	<div wicket:id="lazypanel"></div>
</body>
</html>