/* Vychazim existujiciho theme Vaadin */
@import "../reindeer/styles.css";

.v-embedded.v-embedded-csslayout.csslayout.v-embedded-image {
	display: inline-block;
}

.v-label.v-label-csslayout.csslayout {
	display: inline-block;
}

/* http://www.google.com/webfonts#UsePlace:use/Collection:Dosis|Duru+Sans|Ubuntu+Condensed|Advent+Pro|Doppio+One */
@font-face {
	font-family: dosis-bold;
	src: url('fonts/Dosis-Bold.ttf');
}

@font-face {
	font-family: dosis-med;
	src: url('fonts/Dosis-Medium.ttf');
}

@font-face {
	font-family: dosis-light;
	src: url('fonts/Dosis-Light.ttf');
}

@font-face {
	font-family: advent-bold;
	src: url('fonts/AdventPro-Bold.ttf');
}

@font-face {
	font-family: advent-med;
	src: url('fonts/AdventPro-Medium.ttf');
}

@font-face {
	font-family: advent-light;
	src: url('fonts/AdventPro-Light.ttf');
}

@font-face {
	font-family: doppio;
	src: url('fonts/DoppioOne-Regular.ttf');
}

@font-face {
	font-family: duru;
	src: url('fonts/DuruSans-Regular.ttf');
}

/* == DEFAULT =============================================================== */

/* Default clean */
body,div,p,span,li,ul {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%; /* pro footery */
}

h2 {
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	font-weight: normal;
}

a:link,a:visited {
	color: #045491;
	text-decoration: none;
}

a:link:hover,a:visited:hover {
	color: #045491;
	text-decoration: underline;
}

a img.icon {
	margin-right: 5px;
	margin-bottom: -4px;
}

/* == BACKGROUND AND BODY HEIGHT ============================================ */
.v-generated-body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: url("img/bgr2.png");
	background-repeat: repeat;
}

.v-app {
	background: none;
}

.v-customlayout {
	height: 100%;
}

/* == PAGE HOLDERS ========================================================== */
#holder {
	background-position: bottom right;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -35px;
}

#push {
	height: 160px;
}

/* == HEADER ================================================================ */
#top>h1 {
	display: none;
}

/* Logo */
#top>a {
	text-decoration: none;
	position: relative;
	top: 34px;
	left: 5px;
}

#top a>img {
	border: 0px;
}

#top_holder {
	position: relative;
	/*background-color: #f3efff;*/
	background: url("img/headPattern.png");
	background-repeat: repeat-x;
}

#top {
	/** 990px je takový hezký průměr - na zmenšenou verzi to stejně nebude 
    mít vliv, protože je to max-width a ne pevně width :) - podstatné je akorát **/
	max-width: 990px;
	height: 94px;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 43px;
	margin-top: 0;
	/** podstatné !!! jinak se budou odstupy od okrajů u menu měnit jakmile se zobrazí scrollbar **/
	padding: 0 15px 0 15px;
}

/* ================================ HOMELINK ================================ */
.v-link.v-link-homelink.homelink {
	position: relative;
	top: 32px;
}

/* ================================== QUOTES ================================ */
.v-label.v-label-quotes.quotes {
	font-family: Tahoma, sans-serif;
	font-size: 11pt;
	color: white;
	position: relative;
	padding: 0px;
	left: 100px;
	width: 740px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-style: italic;
	top: 10px
}

.v-label.v-label-quotes.quotes a {
	color: white;
}

/* ============================== MAIN MENU ================================= */
.v-horizontallayout.v-horizontallayout-menu.menu {
	background: url("img/menu_bgr.png");
	background-repeat: no-repeat;
	position: relative;
	top: 42px;
}

}
.v-horizontallayout.v-horizontallayout-items.items {
	background: url("img/menuPattern.png") repeat-x;
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 2em;
	right: 0;
}

#menu .loggedas {
	color: #09305b;
}

#menu a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #555;
}

#menu a:HOVER {
	display: block;
	text-decoration: underline;
}

/* ============================ ROUND BORDERS =============================== */

/* spodní okraj */
.bottomborder {
	background: url("img/bB.png") repeat-x;
	/* vyhnout se rohům */
	margin: 0 10px 0 10px;
	height: 10px;
}

/* horní okraj */
.topborder {
	background: url("img/bT.png") repeat-x;
	/* vyhnout se rohům */
	margin: 0 10px 0 10px;
	height: 10px;
}

/* levý okraj */
.leftborder {
	background: url("img/bL.png") repeat-y;
	margin: 0;
	padding: 0 0 0 10px;
}

/* pravý okraj */
.rightborder {
	background: url("img/bR.png") repeat-y right;
	margin: 0;
	padding: 0 10px 0 0;
}

/* rohy */
.cornerborder {
	background: url("img/corTL.png") no-repeat top left,
		url("img/corBL.png") no-repeat bottom left, url("img/corTR.png")
		no-repeat top right, url("img/corBR.png") no-repeat bottom right;
}

/* =========================== PAGE CONTENT ================================= */
#content {
	max-width: 990px;
	margin-left: auto;
	margin-right: auto;
}

#content h2 {
	margin: 5px 0;
}

/* ============================= TAGCLOUD ================================ */
.tag_cloud {
	font-family: Verdana, Trebuchet, "Trebuchet MS", sans-serif;
}

/* ============================= L/R/C PARTS ================================ */
#centercontent,#leftcontent,#rightcontent {
	overflow: hidden;
	/* pokud přeteče text do strany, tak se prostě uřízne */
	background-color: #ece5cc;
	padding: 0 5px 5px 5px;
	color: #333;
}

#centercontent h2,#rightcontent h2 {
	border-bottom: 1px solid;
	border-color: #888;
	font-size: 15pt;
}

#centercontent h3,#rightcontent h3 {
	font-size: 17px;
	font-weight: normal;
	margin-left: 0;
	margin-bottom: 10px;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#centercontent h4,#rightcontent h4 {
	font-size: 12pt;
	font-weight: bold;
	margin-left: 4px;
	margin-bottom: 10px;
}

#centercontent h5,#rightcontent h5 {
	font-size: 10pt;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 10px;
}

/* ============================= CENTER PART ================================ */
#center {
	/** 990px je takový hezký průměr - na zmenšenou verzi to stejně nebude 
    mít vliv, protože je to max-width a ne pevně width :) - podstatné je akorát **/
	max-width: 990px;
	position: relative;
}

/* #center .menu.ul>li { */
/* 	list-style-image: url("img/bullet.png"); */
/* 	font-size: 12px; */
/* 	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", */
/* 		lucida, "Helvetica CE", sans-serif; */
/* } */

/* #center .menu.ul>li:hover { */
/* 	list-style-image: url("img/bullet_alt.png"); */
/* } */

/* #center .menu.ul { */
/* 	text-align: left; */
/* 	padding-left: 25px; */
/* 	padding-right: 5px; */
/* 	margin-bottom: 10px; */
/* 	margin-top: 10px; */
/* } */

/* ============================== LEFT PART ================================= */
#left {
	float: left;
	width: 200px;
	margin-bottom: 10px;
}

#leftcontent h2 {
	background-color: #f3efdd;
}

#leftcontent p {
	text-align: center;
}

#leftcontent {
	padding-top: 2px;
}

/* nadpisy v levé části */
#leftcontent h2 {
	margin-top: 8px;
	text-align: center;
	padding-bottom: 0px;
	font-size: 17px;
	font-weight: normal;
	color: #555;
}

/* první nadpis má menší odsazení odshora */
#leftcontent h2:first-child {
	margin-top: 3px;
}

#leftcontent hr {
	margin-top: 20px;
}

#leftcontent form,#leftcontent form table {
	text-align: center;
	width: 100%;
}

#leftcontent h3 {
	color: #555;
	font-size: 14px;
	font-weight: bold;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#leftcontent ul.list {
	text-align: left;
	padding-left: 23px;
	padding-right: 5px;
}

#leftcontent ul.list li {
	list-style-image: url("img/bullet.png");
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	margin-top: 4px;
}

#leftcontent ul.list li:FIRST-CHILD {
	margin-top: 10px;
}

#leftcontent ul.list li:hover {
	list-style-image: url("img/bullet_alt.png");
}

/* ============================= RIGHT PART ================================= */
#right {
	margin-left: 215px;
	/* 1920w vers.: max-width: 990px; */
	/* 1280w */
	max-width: 775px;
}

div.new_content {
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	line-height: 30px;
}

div.new_content>a>img {
	margin: 0px 5px -4px 5px;
}

div.new_content>a {
	margin-right: 5px;
}

div.new_category {
	border-top: 1px solid #BBB;
	margin-top: 6px;
	padding-left: 4px;
}

/* ============================== NAVIGATOR ================================= */

/* navigační lišta */
#navigator {
	margin: 0 0 3px 0;
	padding: 2px 0 5px 0;
}

.pathSeparator {
	margin: 0px;
	margin-left: 6px;
	margin-right: 6px;
	padding: 0px;
}

#breadcrumb {
	margin: 5px 0;
	background: #f3efdd;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
	font-size: 14px;
	font-weight: bold;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #555;
}

#breadcrumb a {
	font-size: 14px;
	font-weight: bold;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	text-decoration: none;
}

#breadcrumb a:HOVER {
	text-decoration: underline;
}

/* ========================== CONTENT METADATA ============================= */
#content_meta {
	border-spacing: 0;
	margin-bottom: 15px;
}

#content_meta tr {
	margin: 0;
}

#content_meta td {
	font-family: Verdana, Trebuchet, "Trebuchet MS", sans-serif;
	font-size: 8pt;
	font-style: italic;
	margin-bottom: 10px;
	font-size: 8pt;
	vertical-align: top;
}

#content_meta tr>td:FIRST-CHILD {
	font-style: normal;
	font-weight: bold;
	font-family: Trebuchet, "Trebuchet MS", sans-serif;
	padding-right: 5px;
}

/* =============================== LABELS ================================== */
.no_children {
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

div.empty_box_label {
	padding: 80px 0;
	text-align: center;
	font-style: italic;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	font-weight: normal;
	font-size: 15px;
}

/* ============================= OUTPUT LABELS ============================== */
.feedback {
	
}

.feedbackPanel {
	
}

/* Err, Wrn & Inf divs */
.feedbackPanel li.feedbackPanelERROR,.feedbackPanel li.feedbackPanelINFO,.feedbackPanel li.feedbackPanelWARNING
	{
	list-style: none;
	list-style-image: none;
	font-size: 12px;
	font-weight: bold;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	margin-bottom: 10px;
	border: solid 1px;
	padding: 4px;
	padding-left: 30px;
	background-color: #edead8;
	line-height: 18px;
	background-position: 6px center;
	background-repeat: no-repeat;
}

.feedbackPanel li.feedbackPanelERROR {
	background-image: url("img/tags/delete_16.png");
	border-color: #8a2424;
	color: red;
}

.feedbackPanel li.feedbackPanelWARNING {
	background-image: url("img/tags/warning_16.png");
	border-color: #9c8500;
	color: #9c8500;
}

.feedbackPanel li.feedbackPanelINFO {
	background-image: url("img/tags/tick_16.png");
	border-color: #248a24;
	color: green;
}

/* ============================ ZEBRA TABLE ================================ */
.zebratable tr.even {
	background-color: #f3efdd;
}

.zebratable tr.odd {
	background-color: #f0eada;
}

.zebratable .headers {
	background-color: #F3AF1F;
	text-align: left;
	line-height: 18px;
}

.zebratable th {
	background-repeat: no-repeat;
	background-position: 7px 7px;
	padding-left: 20px;
}

.zebratable th.wicket_orderUp {
	background-image: url("img/bullet_up.png");
}

.zebratable th.wicket_orderUp:HOVER {
	background-image: url("img/bullet_alt_down.png");
}

.zebratable th.wicket_orderDown {
	background-image: url("img/bullet_down.png");
}

.zebratable th.wicket_orderDown:HOVER {
	background-image: url("img/bullet_alt_up.png");
}

.zebratable th.wicket_orderNone:HOVER {
	background-image: url("img/bullet_alt_down.png");
}

.zebratable table {
	border-spacing: 0;
}

.zebratable {
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	width: 100%;
}

.zebratable a {
	font-weight: normal;
	text-decoration: none;
}

.zebratable a:HOVER {
	text-decoration: underline;
}

.zebratable table {
	width: 100%;
}

.zebratable table td a img.icon {
	margin: 2px 10px -4px 8px;
}

.zebratable td {
	line-height: 28px;
	text-align: left;
	/* 	padding-left: 20px; */
}

/* ============================ SORT TABLE ================================= */
.sorttable thead {
	border-bottom: 1px solid #DDD;
	height: 1.6em;
	overflow: hidden;
	margin-bottom: 0.1em;
	font-weight: bold;
	background-color: #EEE;
}

.sorttable td,.sorttable th {
	border-right: 1px solid #CCC;
	border-bottom: 1px dotted #CCC;
	padding: 1px;
	padding-left: 6px;
	margin-left: 6px;
}

.sorttable {
	width: 100%;
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	white-space: nowrap;
	line-height: 1.6em;
	margin: 0;
	padding: 0;
	background-color: white;
	border: 1px solid #CCC;
}

.scroll_div {
	overflow: auto;
}

/* ============================ MENU OBSAHŮ ================================== */
#add_contentnodes_menu a>img,#edit_contentnodes_menu a>img {
	margin: 0px 5px -4px 5px;
}

#add_contentnodes_menu,#edit_contentnodes_menu {
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#add_contentnodes_menu div,#edit_contentnodes_menu div {
	margin: 12px 0px;
}

#add_contentnodes_menu,#edit_contentnodes_menu {
	margin: 0px 0px 15px 0;
}

/* ============================ MENU OPERACÍ ================================= */
#operations_menu {
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	padding: 5px 0 0 0;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	line-height: 30px;
	bottom: 0px;
	position: relative;
	background-color: #ece5cc
}

#operations_menu>#operations_menu_left_shadow_hider,#operations_menu>#operations_menu_right_shadow_hider
	{
	height: 50px;
	background-color: #ECE5CC;
	width: 5px;
}

#operations_menu>#operations_menu_left_shadow_hider {
	float: left;
	margin: -12px 0px 0px -5px;
}

#operations_menu>#operations_menu_right_shadow_hider {
	float: right;
	margin: -12px -5px 0px 0px;
}

#operations_menu a>img {
	margin: 0px 5px -4px 5px;
}

/* ============================ FOOTER PART ================================= */
#bottomshadow,#bottom {
	overflow: hidden;
	width: auto;
}

#bottom {
	clear: both;
	background-color: #c2dfef;
	padding: 5px;
	bottom: 11px;
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #555555;
}

#bottom a {
	text-decoration: none;
}

#bottom a:HOVER {
	text-decoration: underline;
}

#bottomshadow {
	background: url("img/bgrB.png");
	background-repeat: repeat-x;
	height: 11px;
	bottom: 0px;
	padding: 0;
	margin: 0;
}