html, body {
	margin: 0;
   	padding: 0;
	height: 100%;
	background-color: #d8cda6;
}

h2 {
	border-bottom: 1px solid;
	border-color: #888;
	font-size: 15pt;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	font-weight: normal;
	width: 100%;
	margin-top: 0;
	margin-bottom: 10px;
}

flow-component-renderer img {
    margin-bottom: -2px;
}

.tag-letter {
	font-weight: bold;
	margin: 4px 0px;
}

.tag-labels {
	padding: 0 0 0 15px;
}

#main-div {
	min-height: 100%;
	position: relative;
}

#holder {
	background-position: bottom right;
	padding-bottom: 50px; 		
}

#top-holder {
	position: relative;
	background: url(img/headPattern.png);
	background-repeat: repeat-x;
}

#top {
	max-width: 990px;
	height: 94px;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 18px;
	margin-top: 0;
	padding: 0 15px 0 15px;
}

#homelink {
	position: relative;
	top: 32px;
}

#top > h1 {
	display: none;
}

#quotes {
	position: relative;
	padding: 0px;
	left: 100px;
	width: 740px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: 0px;
}

#quotes a, #quotes a:hover {
	font-family: Tahoma, sans-serif;
	font-size: 9pt;
	color: white;
}

#menu-wrapper {
	top: 24px;
	position: relative;
	background-color: #333436;
	border-top: 1px solid #505154;
	border-bottom: 1px solid #424246;
	border-radius: 4px;
	box-shadow: 0 0px 10px 0px black;
}

vaadin-horizontal-layout.menu {
	padding: 2px 14px;
}

.menu-item {
	color: #d1d3d6;
	text-shadow: rgba(0, 0, 0, 0.9) 0 1px 0;
	text-decoration: none;
	font: 400 14px/1.55 Helvetica, Arial, "lucida grande", tahoma, verdana,
		arial, sans-serif;
}

#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 990px;
}

#center {
	width: 990px;
}

#center-content, #left-content, #right-content, #bottom {
	border: 1px solid #b3b3b3;
}

#center-content, #left-content, #right-content {
	background-color: #f4f1e6;
	border-radius: 4px;
	padding: var(--lumo-space-l);
}

#bottom-holder {
	height: 40px;
	position: absolute;
   	bottom: 0;
   	width: 100%;
}

#bottom {
	clear: both;
	background-color: #c2dfef;
	padding: 5px;
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	text-align: center;
	color: #555555;
}

#bottom-shadow, #bottom {
	overflow: hidden;
	width: auto;
}

#bottom-shadow {
	height: 11px;
}