body {
	padding: 5px;
	font-size: 10px;
	font-family: sans-serif;
	background: #FFF6D5;
}

.wexp-main-layout {
	width: 340px;
}

.wexp-vertical-layout {
	font-size: 15px;
	font-family: sans-serif;
}

.menu-item.wexp-link {
	text-align: center;
	font-size: 40px;
}

.menu-item.wexp-link a {
	text-decoration: none;
}

.menu-item.wexp-link {
	font-variant: small-caps;
}

.back-item {
	margin-top: 20px;
	font-variant: small-caps;
}

.recepty-centered-header.wexp-label {
	font-size: 50px;
	margin-bottom: 15px;
	text-align: center;
	font-variant: small-caps;
}

.recepty-header.wexp-label {
	font-size: 50px;
	margin-bottom: 15px;
	font-variant: small-caps;
}

.recepty-main-header.wexp-label {
	font-size: 70px;
	margin-bottom: 20px;
	text-align: center;
	font-variant: small-caps;
}