/* Vychazim existujiciho theme Vaadin */
@import "../reindeer/legacy-styles.css";

@font-face {
	font-family: duru;
	src: url('fonts/DuruSans-Regular.ttf');
}

/* == DEFAULT =============================================================== */

/* Default clean */
body,div,p,span,li,ul {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%; /* pro footery */
}

h2 {
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	font-weight: normal;
}

a:link,a:visited {
	color: #045491;
	text-decoration: none;
}

a:link:hover,a:visited:hover {
	color: #045491;
	text-decoration: underline;
}

a img.icon {
	margin-right: 5px;
	margin-bottom: -4px;
}

/* == BACKGROUND AND BODY HEIGHT ============================================ */
.v-generated-body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: url("img/bgr2.png");
	background-repeat: repeat;
}

.v-app {
	background: none;
}

/* == PAGE HOLDERS ========================================================== */
#holder {
	background-position: bottom right;
/* 	min-height: 100%; */
	height: 100% !important;
/* 	height: 100%; */
	margin-bottom: -35px;
}

#push {
	height: 160px;
}

/* == HEADER ================================================================ */
#top>h1 {
	display: none;
}

/* Logo */
#top>a {
	text-decoration: none;
	position: relative;
	top: 34px;
	left: 5px;
}

#top a>img {
	border: 0px;
}

#top_holder {
	position: relative;
	/*background-color: #f3efff;*/
	background: url("img/headPattern.png");
	background-repeat: repeat-x;
}

#top {
	/** 990px je takový hezký průměr - na zmenšenou verzi to stejně nebude 
    mít vliv, protože je to max-width a ne pevně width :) - podstatné je akorát **/
	max-width: 990px;
	height: 94px;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 43px;
	margin-top: 0;
	/** podstatné !!! jinak se budou odstupy od okrajů u menu měnit jakmile se zobrazí scrollbar **/
	padding: 0 15px 0 15px;
}

/* == HOMELINK ============================================================== */
.v-link.v-link-homelink.homelink {
	position: relative;
	top: 32px;
}

/* == QUOTES ================================================================ */
#quotes {
	font-family: Tahoma, sans-serif;
	font-size: 11pt;
	color: white;
	position: relative;
	padding: 0px;
	left: 100px;
	width: 740px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-style: italic;
	top: 10px
}

.v-link.v-link-quote.quote a span {
	color: white;
	text-decoration: none;
}

.v-link.v-link-quote.quote a:HOVER span {
	color: white;
}

.v-link.v-link-quote.quote a:HOVER {
	color: white;
}

/* == MAIN MENU ============================================================= */
.menu {
	background: url("img/menu_bgr.png");
	background-repeat: no-repeat;
	position: relative;
	top: 42px;
	height: 70px;
	padding: 10px 18px;
}

.menu .user_menu {
	float: right;
}

.menu .v-link.v-link-item.item {
	font-family: duru, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-shadow: 1px 1px 1px #bbb;
	color: #444;
	position: relative;
	top: -1px;
	display: inline-block;
}

.menu .v-link.v-link-item.item a span {
	text-decoration: none;
	color: #444;
}

.menu .v-link.v-link-item.item a:HOVER span {
	text-decoration: none;
	color: #2483c4;
}

.menu .v-link.v-link-item.item a:HOVER {
	text-decoration: none;
	color: #2483c4;
}

.sections_menu .v-link.v-link-item.item {
	margin-right: 10px;
}

.user_menu .v-slot.v-slot-item {
	margin-left: 10px;
}

.user_menu .v-button-caption:HOVER {
	color: #2483c4;
	text-decoration: none;
}

.user_menu .v-button-caption {
	text-decoration: none;
	font-family: duru, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-shadow: 1px 1px 1px #bbb;
	color: #444;
	position: relative;
	top: 1px;
}

.v-button.v-widget.user_status.v-button-user_status.link.v-button-link .v-button-caption{
	color: #070;
}

/* == ROUND BORDERS ========================================================= */

/* spodní okraj */
.bottomborder {
	background: url("img/bB.png") repeat-x;
	/* vyhnout se rohům */
	margin: 0 10px 0 10px;
	height: 10px;
}

/* horní okraj */
.topborder {
	background: url("img/bT.png") repeat-x;
	/* vyhnout se rohům */
	margin: 0 10px 0 10px;
	height: 10px;
}

/* levý okraj */
.leftborder {
	background: url("img/bL.png") repeat-y;
	margin: 0;
	padding: 0 0 0 10px;
}

/* pravý okraj */
.rightborder {
	background: url("img/bR.png") repeat-y right;
	margin: 0;
	padding: 0 10px 0 0;
}

/* rohy */
.cornerborder {
	background: url("img/corTL.png") no-repeat top left,
		url("img/corBL.png") no-repeat bottom left, url("img/corTR.png")
		no-repeat top right, url("img/corBR.png") no-repeat bottom right;
}

/* == CONTENT BLOCK ========================================================= */
#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 990px;
}

/* == CONTENT WRAPPERS ====================================================== */
#right {
	width: 775px;
	display: inline-block;
}

#left {
	width: 200px;
}

#center {
	width: 990px;
}

/* == CONTENTS ============================================================== */
#centercontent,#leftcontent,#rightcontent {
	background-color: #ece5cc;
}

/* == FOOTER PART =========================================================== */
#bottomshadow,#bottom {
	overflow: hidden;
	width: auto;
}

#bottom {
	clear: both;
	background-color: #c2dfef;
	padding: 5px;
	bottom: 11px;
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #555555;
}

#bottom a {
	text-decoration: none;
}

#bottom a:HOVER {
	text-decoration: underline;
}

#bottomshadow {
	background: url("img/bgrB.png");
	background-repeat: repeat-x;
	height: 11px;
	bottom: 0px;
	padding: 0;
	margin: 0;
}

/* ------------------------------------------------------------------------------- */
h2 {
	border-bottom: 1px solid;
	border-color: #888;
	font-size: 15pt;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	font-weight: normal;
	margin-top: 0;
}

/* ========== */
/* Breadcrumb */
/* ========== */
.breadcrumb {
	background: #F3EFDD;
	padding: 4px 8px 0px 8px;
	font-size: 14px;
	font-weight: bold;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

.v-link.v-link-breadcrumb_element.breadcrumb_element a span {
	text-decoration: none;
	color: #045491;
}

.v-link.v-link-breadcrumb_element.breadcrumb_element a:visited span {
	text-decoration: none;
	color: #045491;
}

.v-link.v-link-breadcrumb_element.breadcrumb_element a:hover span {
	text-decoration: underline;
	color: #2483c4;
}

.breadcrumb .v-embedded.v-embedded-image {
	margin: 4px 8px;
}

.breadcrumb_element {
	
}

/* ============= */
/* Link in table */
/* ============= */
.v-table .v-selected .v-link a span {
	color: white;
	text-shadow: #3B5A7A 0 1px 0;
}

/* ================ */
/* CSS layout prvky */
/* ================ */
.v-csslayout.v-csslayout-tools_css_menu.tools_css_menu .v-button {
	margin: 0 5px 5px 0;
}

.v-label.v-label-msglabel.msglabel,.v-embedded.v-embedded-image.msgimg {
	display: inline-block;
}

/* ====================== */
/* Tagy a jejich tagcloud */
/* ====================== */
.v-label.v-label-taglabel.taglabel.v-label-undef-w,.v-link.v-link-taglabel.taglabel
	{
	display: inline-block;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	margin-right: 10px;
	margin-bottom: 2px;
}

.v-label.v-label-taglabel.taglabel.v-label-undef-w a,.v-link.v-link-taglabel.taglabel a span
	{
	text-decoration: none;
	color: #1B699F
}

.v-label.v-label-taglabel.taglabel.v-label-undef-w a:VISITED,.v-link.v-link-taglabel.taglabel a:VISITED
	{
	color: #1B699F
}

.v-label.v-label-taglabel.taglabel.v-label-undef-w a:HOVER,.v-link.v-link-taglabel.taglabel a:HOVER
	{
	color: #1B699F;
	text-decoration: underline;
}