/* Vychazim existujiciho theme Vaadin */
@import "../reindeer/styles.css";

h2 {
	border-bottom: 1px solid;
	border-color: #888;
	font-size: 15pt;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	font-weight: normal;
	margin-top: 0;
}

/* ====== */
/* Pozadi */
/* ====== */
.background_layout {
	background: url("img/bgr2.png");
	background-repeat: repeat;
}

.layout {
	background: url("img/headPattern.png");
	background-repeat: repeat-x;
}

.header_shadow {
	background: url("img/shadow.png");
	background-repeat: repeat-x;
}

/* ==== */
/* Logo */
/* ==== */
.logo_image {
	position: relative;
	top: 19px;
	left: 5px;
}

/* ====== */
/* Hlasky */
/* ====== */
.v-link.v-link-quotes.quotes a span {
	text-decoration: none;
	color: white;
}

.v-link.v-link-quotes.quotes a:visited span {
	text-decoration: none;
	color: white;
}

.v-link.v-link-quotes.quotes a:hover span {
	text-decoration: underline;
	color: white;
}

.quotes {
	font-family: Tahoma, sans-serif;
	font-size: 11pt;
	color: white;
	position: relative;
	padding: 0px;
	height: 16px;
	text-align: center;
	font-style: italic;
	top: 32px;
}

/* ==== */
/* Menu */
/* ==== */
.menu_holder { /* 	position: relative; */
	background: url("img/menu_bgr.png");
	background-repeat: no-repeat;
}

.sections_menu_layout,.user_menu_layout {
	position: relative;
	top: -2px;
	font-size: 14px;
	font-weight: bold;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #555;
}

.first_menu_item,.menu_item {
	text-shadow: 1px 1px 1px #ccc;
}

.first_menu_item {
	padding-left: 0px;
}

.menu_item {
	padding-left: 10px;
}

.menu_item.v-link a span,.first_menu_item.v-link a span {
	text-decoration: none;
	color: #555;
}

.menu_item.v-link a:visited span,.first_menu_item.v-link a:visited span
	{
	text-decoration: none;
	color: #555;
}

.menu_item.v-link a:hover span,.first_menu_item.v-link a:hover span {
	text-decoration: none;
	color: #2483c4;
}

.menu_item .v-button-wrap span:hover {
	text-decoration: none;
	color: #2483c4;
}

.menu_item .v-button-wrap span {
	text-decoration: none;
	color: #555;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #ccc;
	padding-left: 10px;
}

.menu_item.user_status .v-button-wrap span:hover {
	text-decoration: none;
	color: #14A800;
}

.menu_item.user_status .v-button-wrap span {
	color: #0D6D00;
}

/* ============= */
/* Kulate okraje */
/* ============= */

/* ---- Top ---- */
.left_top_corner_background {
	background: url("img/corTL.png");
	background-repeat: no-repeat;
}

.center_top_background {
	background: url("img/bT.png");
	background-repeat: repeat-x;
}

.right_top_corner_background {
	background: url("img/corTR.png");
	background-repeat: no-repeat;
}

/* ---- Middle ---- */
.left_middle_background {
	background: url("img/bL.png");
	background-repeat: repeat-y;
	padding-left: 10px;
}

.center_middle_background {
	background-color: #ece5cc;
}

.right_middle_background {
	background: url("img/bR.png");
	background-repeat: repeat-y;
	background-position: 230px 0;
	padding-right: 10px;
}

.long_right_middle_background {
	background: url("img/bR.png");
	background-repeat: repeat-y;
	background-position: 705px 0;
	padding-right: 10px;
}

.full_right_middle_background {
	background: url("img/bR.png");
	background-repeat: repeat-y;
	background-position: 970px 0;
	padding-right: 10px;
}

/* ---- Bottom ---- */
.left_bottom_corner_background {
	background: url("img/corBL.png");
	background-repeat: no-repeat;
}

.center_bottom_background {
	background: url("img/bB.png");
	background-repeat: repeat-x;
}

.right_bottom_corner_background {
	background: url("img/corBR.png");
	background-repeat: no-repeat;
}

.left_column_top_backgroud {
	background: url("img/leftColTopBgr.png");
	background-repeat: no-repeat;
}

.left_column_bottom_backgroud {
	background: url("img/leftColBtmBgr.png");
	background-repeat: no-repeat;
}

.left_column {
	background: url("img/leftColMidBgr.png");
	background-repeat: y-repeat;
}

.right_column_top_backgroud {
	background: url("img/rightColTopBgr.png");
	background-repeat: no-repeat;
}

.right_column_bottom_backgroud {
	background: url("img/rightColBtmBgr.png");
	background-repeat: no-repeat;
}

.right_column {
	background: url("img/rightColMidBgr.png");
	background-repeat: y-repeat;
}

.footer_layout {
	background-color: #c2dfef;
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #555555;
	padding: 6px 0 0px 7px;
	text-shadow: 0px 1px 1px white;
	border-top: 1px dashed #92AFBF;
}

/* ========== */
/* Breadcrumb */
/* ========== */
.breadcrumb {
	background: #F3EFDD;
	padding: 4px 8px 5px 8px;
	font-size: 14px;
	font-weight: bold;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

.v-link.v-link-breadcrumb_element.breadcrumb_element a span {
	text-decoration: none;
	color: #045491;
}

.v-link.v-link-breadcrumb_element.breadcrumb_element a:visited span {
	text-decoration: none;
	color: #045491;
}

.v-link.v-link-breadcrumb_element.breadcrumb_element a:hover span {
	text-decoration: underline;
	color: #2483c4;
}

.breadcrumb .v-embedded.v-embedded-image {
	margin: 4px 8px;
}

.breadcrumb_element {
	
}

/* ============= */
/* Link in table */
/* ============= */
.v-table .v-selected .v-link a span {
	color: white;
	text-shadow: #3B5A7A 0 1px 0;
}

/* ================ */
/* CSS layout prvky */
/* ================ */
.v-csslayout.v-csslayout-tools_css_menu.tools_css_menu .v-button {
	margin: 0 5px 5px 0;
}

.v-label.v-label-msglabel.msglabel,.v-embedded.v-embedded-image.msgimg {
	display: inline-block;
}

/* ====================== */
/* Tagy a jejich tagcloud */
/* ====================== */
.v-label.v-label-taglabel.taglabel.v-label-undef-w,.v-link.v-link-taglabel.taglabel
	{
	display: inline-block;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	margin-right: 10px;
	margin-bottom: 2px;
}

.v-label.v-label-taglabel.taglabel.v-label-undef-w a,.v-link.v-link-taglabel.taglabel a span
	{
	text-decoration: none;
	color: #1B699F
}

.v-label.v-label-taglabel.taglabel.v-label-undef-w a:VISITED,.v-link.v-link-taglabel.taglabel a:VISITED
	{
	color: #1B699F
}

.v-label.v-label-taglabel.taglabel.v-label-undef-w a:HOVER,.v-link.v-link-taglabel.taglabel a:HOVER
	{
	color: #1B699F;
	text-decoration: underline;
}