html, body {
	margin: 0;
   	padding: 0;
	height: 100%;
	width: 100%; 
	/* 	width: 100vw; */
	background-color: #d8cda6;
}

flow-component-renderer img {
    margin-bottom: -2px;
}

/* Nadpisy */

h2, h3 {
	border-bottom: 1px solid;
	border-color: #888;
	font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
		"Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	font-weight: normal;
	width: 100%;
	margin-top: 0;
	margin-bottom: 10px;
}

h2 {
	font-size: 15pt;
}

h3 {
	font-size: 11pt;
}

/* Span */

span.label-ok, span.label-err {
	border-radius: 5px;
    margin: auto;
    padding: 3px 10px;
}

span.label-ok {
    border: 2px solid #42af0b;
    background-color: rgba(66, 175, 11, 0.25);
}

span.label-err {
	border: 2px solid #af130b;
    background-color: rgba(175, 11, 11, 0.25);
}

.error-label {
    text-align: center;
}

/* Token */

.token-layout {
    display: inline-block; 
}

.token-layout vaadin-button {
    margin-right: var(--lumo-space-m);
}

/* Button div  */

.button-div vaadin-button {
	margin-right: var(--lumo-space-m);    
}

/* Top margin */

.top-margin {
	margin-top: var(--lumo-space-m);
}

/* Tag layout */

.tag-letter {
	font-weight: bold;
	margin: 4px 0px;
}

.tag-labels {
	padding: 0 0 0 15px;
}

/* Quotes */

#quotes {
	position: relative;
	padding: 0px;
	left: 100px;
	width: 740px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	top: 0px;
}

#quotes a, #quotes a:hover {
	font-family: Tahoma, sans-serif;
	font-size: 9pt;
	color: white;
}

/* Menu */

#menu-wrapper {
	top: 24px;
	position: relative;
	background-color: #333436;
	border-top: 1px solid #505154;
	border-bottom: 1px solid #424246;
	border-radius: 4px;
	box-shadow: 0 0px 10px 0px black;
}

vaadin-horizontal-layout.menu {
	padding: 2px 14px;
}

.menu-item {
	color: #d1d3d6;
	text-shadow: rgba(0, 0, 0, 0.9) 0 1px 0;
	text-decoration: none;
	font: 400 14px/1.55 Helvetica, Arial, "lucida grande", tahoma, verdana,
		arial, sans-serif;
}

/* Page layout */

#center-content h2, #right-content h2 {
	margin-top: var(--lumo-space-m);
}

#center-content h2:FIRST-CHILD, #right-content h2:FIRST-CHILD {
	margin-top: 0px;
}

#main-div {
	position: relative;
	min-height: 100%;
}

#holder {
	background-position: bottom right;
	padding-bottom: 50px; 		
}

#top-holder {
	position: relative;
	background: url(img/headPattern.png);
	background-repeat: repeat-x;
}

#top {
	max-width: 990px;
	height: 94px;
	color: black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 18px;
	margin-top: 0;
	padding: 0 15px 0 15px;
}

#homelink {
	position: relative;
	top: 32px;
}

#top > h1 {
	display: none;
}

#content {
	margin-left: auto;
	margin-right: auto;
	max-width: 990px;
}

#center {
	width: 990px;
}

#center-content, #left-content, #right-content, #bottom {
	border: 1px solid #b3b3b3;
}

#center-content, #left-content, #right-content {
	background-color: #f4f1e6;
	border-radius: 4px;
	padding: var(--lumo-space-l);
	box-sizing: border-box;
}

#left-content {
    width: 220px;
    display: inline-block;
    vertical-align: top;
}

#right-content {
    width: 755px;
    display: inline-block;
    margin-left: 14px;
}

#bottom-holder {
	height: 40px;
	position: absolute;
   	bottom: 0;
   	width: 100%;
}

#bottom {
	clear: both;
	background-color: #c2dfef;
	padding: 5px;
	font-size: 12px;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	text-align: center;
	color: #555555;
}

#bottom-shadow, #bottom {
	overflow: hidden;
	width: auto;
}

#bottom-shadow {
	height: 11px;
}

/* Breadcrumb */

#breadcrumb {
	background: #fdfaf2;
	padding-top: 3px;
    padding-bottom: 3px;
    line-height: 20px;
	padding-left: 10px;
	padding-right: 0px;
	font-weight: bold;
    font-size: 12px;
    font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#breadcrumb img, #breadcrumb a {
	margin-right: 10px;
}

/* Content detail */

.content-info {
    font-size: 11pt;
}

.content-tags {
	font-size: 10pt;
}

.content-tags div {
	display: inline-block;
	margin-right: 10px;
}

.not-publicated-info {
    border: 1px #70afe9 solid;
    padding: 12px 5px 0 5px;
    height: 32px;
    text-align: center;
    background-color: #d5ebff;
    text-align: center;
    margin-bottom: 15px;
}

.not-publicated-info img {
    margin-right: 10px;
    margin-bottom: -3px;
}